html,body{
    font-family: "Outfit", sans-serif;
    background-color: #eef6feff;
    margin: 0px 10px;
    letter-spacing: 2px;
}
nav{
    height:60px;
    width: 100%;
    background-image: url("https://belfinbaby555.github.io/smart/Nmae.jpg");
    background-position: center;
    background-size:50%;
    background-repeat: no-repeat;
    margin: 20px 0px;
    display: flex;

}
nav > img{
    height: 50px;
    height: fit-content;
    margin: auto;
    margin-right: 0px;
}
.scaned{
    display:flex ;
    flex-direction: column;
}
.scaned > h2{
    font-weight: 500;
    font-size: 52px;
    margin-top: 0;
    color: rgb(43, 43, 43);
    width: 100%;
    height: fit-content;

}
.item{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 5px;
}
.item > p{
    font-size: 26px;
    text-transform: capitalize;
}
.item > span{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 0;
    justify-content:space-around
}
.item > span > b{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin: auto;
}
.item > span > p{
    font-size: 30px;
    font-weight: 400;
    color: rgb(68, 68, 68);
    width: fit-content;
    margin: auto;
    margin-right: 0%;
}
.scaned > a > button,#pay > button{
    width: 100%;
    height:80px ;
    background-color: #4285F4;
    color: white;
    font-size: 30px;
    outline: 0;
    border: 0;
    border-radius: 10px;
    margin: 20px 0px;
    font-weight: 500;
}
.remove{
    background-color: #f44242 !important;
}
.total{
    width: 100%;
    background-color: white;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.total > h4{
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(175, 175, 175);
    font-size: 30px;
    padding-top: 0;
    margin-bottom: 20px;
}
.total > p{
    color: rgb(90, 90, 90);
    font-size: 30px;
    margin: 10px 0px;
}
.total > p > b{
    font-weight: 400;
    float: right;
}
